  .bell {
      cursor: pointer;
      background: none;
      border: 1px solid #fff;
      border-radius: 5px;
      padding: 4px;
      height: 10px !important;
      
  }
  .bell:hover {
      background: #fff;
  }
  .bell:active {
      background: #0ff;
  }
  .notification-bell {
    margin-right: 10px;
      position: relative;
  }