/* TimerComponent.css */
.timer-container {
    display: flex;
    justify-content: center;
    margin-top: 20px; /* Adjust margin as needed */
  }
  
  /* CallComponent.css */
  .call {
    text-align: center;
  }
  
  .buttons {
    display: flex;
    justify-content: center;
    margin-top: 20px; /* Adjust margin as needed */
  }
  