.signature-container {
    animation: writeSignature 4s linear forwards;
    opacity: 0;
  }
  
  @keyframes writeSignature {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  .app{
    position: absolute;
  }
  