.signature-container {
    animation: writeSignature 4s linear forwards;
    opacity: 0;
  }
  *{
    transition: smooth;
  }
  
  @keyframes writeSignature {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  .app{
    position: absolute;
  }
  
.sidenav-overlay{
  z-index: 99  !important;
  position: relative;
}
.header{
  position: absolute;
  top: 0;
}
