.signature-container {
    animation: writeSignature 4s linear forwards;
    opacity: 0;
  }
  
  @keyframes writeSignature {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  .app{
    position: absolute;
  }
  
.sidenav-overlay{
  z-index: 99  !important;
  position: relative;
}
.header{
  position: absolute;
  top: 0;
}
/* ___________________________ */
.profile-card{
  overflow: hidden;
}
.pic{
  height: 40vh;
  position: absolute;
  margin-left: 120px;
}
.new{
  margin-top: 200px !important;
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none;
  width: 50% !important;
  margin-left: -150px !important;
  border: 0;
  font-family: inherit;
  padding: 16px 12px 0 12px;
  height: 56px;
  font-size: 16px;
  font-weight: 400;
  background: rgba(0, 0, 0, 0.02);
  box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.3);
  color: #000;
  transition: all 0.15s ease;
}
.new-btn{
  margin-left: -250px;
}
.fade-in {
  animation: fadeIn 1s ease-in-out;
}

@keyframes fadeIn {
  from {
      opacity: 0;
  }
  to {
      opacity: 1;
  }
}

@media screen and (max-width: 600px) {
  .pic{
    height: 60vh;
    position: absolute;
    margin-left: -50px;
  }

  .container {
    width: 100%;
  }
}
.soace{
  margin-bottom: 10px !important;
}
.enb{
  z-index: 80 !important;
}
.notification {
  position: fixed;
  top: 20px;
  right: 20px;
  background-color: #4CAF50;
  color: white;
  padding: 15px;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 9999;
}

.notification.close {
  display: none;
}

.notification-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.notification-icon {
  margin-right: 10px;
}

.notification-close-btn {
  cursor: pointer;
  color: #fff;
  background-color: transparent;
  border: none;
  font-size: 20px;
}
/* Add this to your CSS file */
.modal {
  border-radius: 10px; /* Adjust the border-radius as needed */
}
.modal-content{
  min-height: 55vh !important;
}